<header>
    <div class="fixed-content">
        <a class="btn fixed-btn" href="https://www.monstercat.com/" target="_blank"><img src="https://cdn.monstercat.com/monstercat-logo.webp"></a>
        <button class="btn fixed-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#side-menu" aria-controls="side-menu">&#xf0c9;</button>      
    </div>
    <div class="side-icons">
        <ul class="icons">
            <li><a href="https://www.instagram.com/monstercat" target="_blank">&#xf16d;</a></li>
            <li><a href="https://tiktok.com/@monstercat" target="_blank">&#xe07b;</a></li>
            <li><a href="https://twitter.com/monstercat" target="_blank">&#xe61b;</a></li>
            <li><a href="https://www.twitch.tv/monstercat" target="_blank">&#xf1e8;</a></li>
            <li><a href="https://www.facebook.com/monstercat" target="_blank">&#xf09a;</a></li>
            <li><a href="https://discord.com/invite/monstercat" target="_blank">&#xf392;</a></li>
        </ul>
    </div>    
</header>

<app-menu></app-menu>