<footer>
    <div class="navigation">
        <div class="column">
            <a href="https://www.monstercat.com/about" target="_blank">About Monstercat</a>
            <a href="https://www.monstercat.com/contact-us" target="_blank">Contact Us</a>
            <a href="https://www.monstercat.com/careers" target="_blank">Careers</a>
            <a href="https://www.monstercat.com/news" target="_blank">News</a>
            <a href="https://www.monstercat.com/press" target="_blank">Press</a>
        </div>
        <div class="column">
            <a href="https://www.monstercat.com/terms-of-service" target="_blank">Terms of service</a>
            <a href="https://www.monstercat.com/privacy-policy" target="_blank">privacy policy</a>
        </div>
        <div class="column">
            <label for="email-input" class="form-label">Monstercat news</label>
            <div class="form-text thin-font">Don't miss a thing, stay up to date with the latest news from us.</div>
            <div class="input-group mb-3 thin-font">
                <input type="text" class="form-control" id="email-input" placeholder="Enter email" aria-describedby="arrow-btn">
                <button class="btn" type="button" id="submit-btn">&#xf061;</button>
            </div>       
        </div>  
    </div>
    <div class="footer-bottom">
        <span class="thin-font">2011 - 2024 &copy; Monstercat, All Rights Reserved</span>
        <div class="media-icons">
            <a href="https://www.youtube.com/user/MonstercatMedia" target="_blank" class="icon">&#xf167;</a>
            <a href="https://www.instagram.com/monstercat" target="_blank" class="icon">&#xf16d;</a>
            <a href="https://tiktok.com/@monstercat" target="_blank" class="icon">&#xe07b;</a>
            <a href="https://twitter.com/monstercat" target="_blank" class="icon">&#xe61b;</a>
            <a href="https://open.spotify.com/user/monstercatmedia" target="_blank" class="icon">&#xf1bc;</a>
            <a href="https://music.apple.com/ca/curator/monstercat/1233905953" target="_blank" class="icon">&#xf179;</a>
            <a href="https://www.twitch.tv/monstercat" target="_blank" class="icon">&#xf1e8;</a>
            <a href="https://www.facebook.com/monstercat" target="_blank" class="icon">&#xf09a;</a>
            <a href="https://discord.com/invite/monstercat" target="_blank" class="icon">&#xf392;</a>   
            <a href="https://triller.co/@monstercat" target="_blank" class="icon"><img src="https://api.iconify.design/simple-icons:triller.svg?color=%23F1F1F1"></a>    
        </div>
        <p class="thin-font">We acknowledge with gratitude the traditional, ancestral and unceded land of the Coast Salish peoples, including the territories of the Sḵwx̱wú7mesh (Squamish), Stó:lō and Səl̓ílwətaʔ/Selilwitulh (Tsleil-Waututh) and xʷməθkʷəy̓əm (Musqueam) Nations, on which Monstercat's Vancouver HQ stands.</p>
        <p class="small-text thin-font">We acknowledge the unceded and ancestral territories of the Gabrielino/Tongva peoples on which our LA team live and work.</p>         
    </div>    
</footer>