table {
    width: 100%; border-collapse: collapse;
    margin-top: 30px; text-align: center;
    tr {
        display: flex; flex-direction: row; align-items: center;
        td {
            width: 60px; height: 83px; align-content: center;
            padding: 1em 0.5rem; 
            font-size: 16px; letter-spacing: 1px; font-weight: bold; text-align: left;            
            &:nth-child(2) { width: 70px; }
            .spinner-border {
                --bs-spinner-width: 2.75rem; --bs-spinner-height: 2.75rem; scale: .5;
                &:hover { border-color: var(--antiFlashWhite) !important; }
            }
            &:nth-child(3) {
                width: 85% !important;
                display: flex; align-items: flex-start; flex-direction: column; justify-content: center;
                small { font-size: 12px; }
            }
            &:nth-child(4) { width: 80px; }
        }
    }
}

@media screen and (max-width: 768px) {
    table {
        margin-top: 10px !important;
        td { font-size: 15px !important; }
    }     
}