<div id="player"></div> <!-- YouTube IFrame API -->
<table>
  <tbody>
    @for (track of tracksList; let i = $index; track $index) {
      <tr class="d-flex">
        <td>{{ track.num }}</td>
        <td>
          <button class="btn" [ngClass]="index === i && spinner ? 'spinner-border' : ''" [textContent]="index === i ? btnIcon : '\uf04b'" (click)="playPauseController(i)"></button>
        </td>
        <td class="d-flex">
          {{ track.name }}
          <small class="thin-font">{{ track.artist }}</small>
        </td>
        <td class="text-center">{{ track.time }}</td>
        <td class="text-center cursor-pointer">&#xf1e0;</td>
      </tr>
    }
  </tbody>
</table>