<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="side-menu" aria-labelledby="menu-title">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="menu-title"><img src="https://cdn.monstercat.com/monstercat-logo-white.svg" alt=""></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="menu">
            <li><a href="">Music &nbsp;&#xf105;</a></li>
            <li><a href="">Artists</a></li>
            <li><a href="">About &nbsp;&#xf105;</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Events &nbsp;&#xf105;</a></li>
            <li><a href="">Programming &nbsp;&#xf105;</a></li>
            <li><a href="">Gold</a></li>
            <li><a href="">Partners</a></li>
            <li><a href="">Press</a></li>
            <li><a href="">Player</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">Lost civilization</a></li>
        </ul>
        <div class="offcanvas-bottom">
            <a href="https://www.instagram.com/monstercat" target="_blank">&#xf16d;</a>
            <a href="https://tiktok.com/@monstercat" target="_blank">&#xe07b;</a>
            <a href="https://twitter.com/monstercat" target="_blank">&#xe61b;</a>
            <a href="https://www.twitch.tv/monstercat" target="_blank">&#xf1e8;</a>
            <a href="https://www.facebook.com/monstercat" target="_blank">&#xf09a;</a>
            <a href="https://discord.com/invite/monstercat" target="_blank">&#xf392;</a>             
            <div class="btn-group" role="group">
                <button type="button" class="btn">Sign in</button>
                <button type="button" class="btn">Or sign up</button>
            </div>
        </div>
    </div>
</div>