.releases, .album { display: flex; flex-wrap: wrap; align-items: flex-start; }
.releases {
    margin-bottom: 8em;
    .album {
        max-width: 200px; flex-direction: column;   
        margin: 25px 10px; 
        .cover { width: 200px; height: 200px; }
        p { margin-bottom: 0; font-size: 12px !important; }
        .name {
            letter-spacing: 1px;
            margin-top: 15px;
        }
        .date { font-style: italic; }
    }
}

@media screen and (max-width: 1280px) {
    .releases { margin-inline: 5px !important; }    
}
@media screen and (max-width: 816px) {
    .album, .cover { width: 175px !important; }
    .cover { height: 175px !important; }
}
@media screen and (max-width: 768px) {
    .releases {
        margin: 15px 5px !important;
        .album {
            width: 150px !important;
            .cover {
                width: 150px !important; height: 150px !important;
            }
        }
    }    
}
@media screen and (max-width: 480px) {
    .releases {
        justify-content: center; margin-inline: 0;
        .album { margin: 15px 0 !important;
        }
    }    
}